<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="~/Content/BotThumb/author.jpg" height="60" alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Media heading
        <small><i>posté le xx/xx/xxxx</i></small></h4>
        ...
    </div>
</div>