@helper DinamycList(List<string> items ) {

    foreach (var item in items)
    {

        <div class="text-info" >@item</div>
         <input name="responseItem" value="@(item)" hidden="hidden"/>

     }
    <div class="form-group">
        <input name="responseItem" value="@(item)" hidden="hidden" />
        <div id="adder" class="btn btn-default" type="button" onclick="appendNewItem()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</div>
    </div>

    <script>
        
        function appendNewItem() {
            
        }


    </script>
}
