@{
    ViewBag.Title = "Reset Confirm Password";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been successfully reset. Please @Html.ActionLink("Click here to connect.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
