@{
    ViewBag.Title = "About";
}
<h1></h1>
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h1>SignalR Based Chat</h1>
            </div>
            <div class="panel-body">
                <p class="lead">
                    This website is giving you access to multiple public or private chat rooms enhanced with very special plugins
                    and bots to animate your conversations experience.
                </p>
            </div>         
        </div>       
    </div>
    <div class="col-lg-3">
    </div>
</div>
