@{
    ViewBag.Title = "Chat";
}

<div class="row">
    <div class="panel" style="background-color: black;">
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-chat">
            <div class="panel-heading text-center" style="color:white">
                <h3 class="panel-title">Chat Box</h3>
            </div>
            <div class="panel-body" style="background-color: black;max-height: 100% ">
                <div class="row" style="background-color:black">
                    <div class="col-lg-3" style="background-color: black;">
                        <div style="background-color: white;height: 100%;max-height:700px;overflow-y:scroll;overflow-x:hidden">
                            <ul style="list-style-type: none;padding: 10px;background-color: white">
                                <li>
                                    In the Room :
                                </li>
                                <li>
                                    <hr>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9" style="background-color: black;height:calc(75vh)">
                        <div style="background-color: white;height: 100%;max-height:700px;overflow-y:scroll">
                            <ul id="discussion" style="list-style-type: none;padding: 10px;background-color: white">
                                <li>
                                    <i>Welcome In the Chat Room!</i>
                                </li>
                                <li>
                                    <hr>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="background-color: black;padding-top: 2%">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-9">
                        <div class="input-group">
                            <input id="message" type="text" class="form-control" placeholder="New Message...">
                            <span class="input-group-btn">
                                <button id="sendmessage" class="btn btn-default" type="button">Send!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading text-center" role="tab" id="headingTwo">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Commands
                        </a>
                    </h3>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <b>/w &lt;username&gt; &lt;message&gt; :</b> whisper a message to a specific user.
                            </li>
                            <li>
                                <b>/nick &lt;username&gt; :</b> change your room username.
                            </li>
                            <li>
                                <b>/gif &lt;keywork(s)&gt; :</b> will browse online a gif related to what you provided.
                            </li>
                            <li>
                                <b>/gifs &lt;keywork(s)&gt; :</b> will browse online several gifs and let you chose between them.
                            </li>
                            <li>
                                <b>/clear : </b> Clear the chat messages.
                            </li>
                            <li>
                                <b>!&lt;keywork(s)&gt;! : </b> will insert a sticker related to the keyword you provided.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center" role="tab" id="headingOne">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Plugin(s)
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul style="list-style-type: none;padding: 10px;">
                            <li>
                                Active Bots:
                            </li>
                            <li>
                                <hr />
                            </li>
                            <li>
                                some bot
                            </li>
                            <li>
                                some bot
                            </li>
                        </ul>
                        <ul style="list-style-type: none;padding: 10px;">
                            <li>
                                Active Plugins:
                            </li>
                            <li>
                                <hr />
                            </li>
                            <li>
                                some plugin
                            </li>
                            <li>
                                some plugin
                            </li>
                            <li>
                                some plugin
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
@Scripts.Render("~/bundles/chat")
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {

            //Auto click Send
            $("#message").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#sendmessage").click();
                }
            });

            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message) {
                // Add the message to the page.
                if (name == "NativeCommand") {
                    $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong> : ' + message + '</li>');
                } else {
                    $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong> : ' + message + '</li>');
                }
                
            };
            // Get the user name and store it to prepend to messages.
            $('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // parse and execute client side commands if any
                    if (executeCommands($('#message').val())) {
                        $('#message').val('').focus();
                        return;
                    }
                    // Call the Send method on the hub.
                    chat.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}