<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content"></div>
    <div id="root"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/Scripts/Tutorial.jsx")"></script>
</body>
</html>

<script>

    ReactDOM.render(
        React.createElement(Hello, { toWhat: 'TOTO' }, null),
        document.getElementById('root')
    );
</script>

