.chat {
    background-color: transparent;
}

.panel-chat {
    background-color: rgba(63, 67, 130, 0.67);
    border-color: black;
}

.panel-command {
    background-color: rgba(63, 67, 130, 0.67);
}

.panel-command .panel-heading {
    background-color: rgba(63, 67, 130, 0.67);
}

.chat-panel-title{

}