@font-face{
    font-family : 'comic neue';
    src: url('/fonts/ComicNeue_Bold.otf')
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    /*background-image:url("../../Content/Backgrounds/bck1.jpg");*/
    background-color: darkslategrey;
    font-family : 'comic neue';
}
html, body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.chat{
    background-color: transparent;
}

.panel-chat{
    background-color:rgba(63, 67, 130, 0.67);
    border-color:black;
}

.panel-command{

}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}

.defaultpadding {
    padding-right: 15px;
    padding-left: 15px;
}

